# Proprietary files
/WSJ.pron
/wsj00a.qa.bj.lm
/wsj00b.qa.mk.bj
/wsj00c.qa.lm.mk
/wsj00d.qa.tc.bj
/wsj01a.qa.lm.lm
/wsj01b.qa.bj.tc
/wsj01c.qa.bj.lm
/wsj01d.qa.bj.bj
/wsj02a.qa.bj.lm
/wsj02b.qa.bj.lm
/wsj02c.qa.bj.mk
/wsj02d.qa.mk.tc
/wsj03a.qa.mk.mk
/wsj03b.qa.bj.mk
/wsj03c.qa.bj.bj
/wsj03d.qa.bj.lm
/wsj04a.qa.bj.lm
/wsj04b.qa.bj.bj
/wsj04c.qa.lm.mk
/wsj04d.qa.tc.tc
/wsj05a.qa.adj.bj.lm
/wsj05b.qa.mk.tc
/wsj05c.qa.mk.lm
/wsj05d.qa.adj.bj.tc
/wsj06a.qa.mk.tc
/wsj06b.qa.bj.lm
/wsj06c.qa.mk.tc
/wsj06d.qa.lm.lm
/wsj07a.qa.tc.mk
/wsj07b.qa.mk.tc
/wsj07c.qa.mk.tc
/wsj07d.qa.bj.mk
/wsj08a.qa.bj.bj
/wsj09a.qa.mk.bj
/wsj09b.qa.tc.bj
/wsj09c.qa.bj.tc
/wsj09d.qa.mk.bj
/wsj10a.qa.tc.mk
/wsj10b.qa.lm.lm
/wsj10c.qa.tc.mk
/wsj10d.qa.lm.mk
/wsj11a.qa.bj.tc
/wsj11b.qa.mk.bj
/wsj11c.qa.tc.mk
/wsj11d.qa.lm.bj
/wsj12a.qa.lm.bj
/wsj12b.qa.bj.lm
/wsj12c.qa.bj.mk
/wsj12d.qa.lm.tc
/wsj13a.qa.bj.mk
/wsj13b.qa.bj.mk
/wsj13c.qa.bj.tc
/wsj13d.qa.mk.lm
/wsj14a.qa.bj.mk
/wsj14b.qa.lm.mk
/wsj14c.qa.tc.mk
/wsj14d.qa.lm.mk
/wsj15a.qa.lm.bj
/wsj15b.qa.mk.bj
/wsj15c.qa.mk.lm
/wsj15d.qa.bj.lm
/wsj16a.qa.bj.mk
/wsj16b.qa.lm.mk
/wsj16c.qa.tc.bj
/wsj16d.qa.tc.bj
/wsj17a.qa.bj.mk
/wsj17b.qa.bj.bj
/wsj17c.qa.tc.lm
/wsj17d.qa.bj.lm
/wsj18a.qa.bj.lm
/wsj18b.qa.bj.mk
/wsj18c.qa.lm.mk
/wsj18d.qa.lm.mk
/wsj19a.qa.lm.mk
/wsj19b.qa.mk.bj
/wsj19c.qa.bj.mk
/wsj19d.qa.bj.lm
/wsj20a.qa.bj.mk
/wsj20b.qa.tc.mk
/wsj20c.qa.lm.tc
/wsj20d.qa.lm.tc
/wsj21a.qa.lm.mk
/wsj21b.qa.tc.bj
/wsj21c.qa.mk.bj
/wsj22a.qa.mk.tc
/wsj22b.qa.bj.lm
/wsj22c.qa.mk.tc
/wsj22d.qa.bj.lm
/wsj23a.qa.bj.tc
/wsj23b.qa.lm.bj
/wsj23c.qa.mk.lm
/wsj23d.qa.bj.lm
/wsj24a.qa.tc.bj
/wsj24b.qa.bj.lm
/wsj24c.qa.mk.bj
